.connect-text{
    text-align: center;
    position: relative;
    font-family: 'Cutive', serif;
    font-size: 130px;
    margin-top: 80px;
    color: cornflowerblue;
}

label{
    font-family: 'Cutive', serif;
    font-size: 20px;
    color: cornflowerblue;
}

.form-container{
    box-shadow: 7px 7px 60px #000;
    text-align: center;
    width: 300px;
    margin-top: 100px;
}

.control input{
    border-radius: 15px;
}

.control input[type="button"]{
    background: cornflowerblue;
}