*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-style {
    background-image:  url(../img/background-vapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.connect-text{
    text-align: center;
    position: relative;
    font-family: 'Cutive', serif;
    font-size: 150px;
    margin-top: 80px;
}

section {
    top: 15%;
    position: relative;
    width: 100%;
}

label{
    font-family: 'Cutive', serif;
    font-size: 20px;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    width: 380px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}

.control input[type="button"]{
    background: cornflowerblue;
    color: #fff;
    font-size: 1.2em;
    opacity: .8;
}

.control input[type="submit"]:hover{
    opacity: 1;
}