.person-box{
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    width: 380px;
    padding: 40px 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}

.box{
    height: 120px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
.box.helen{
    background-image: url(../img/helen.png);
}
.box.olga{
    background-image: url(../img/olga.jpg);
}

.box.orfeas{
    background-image: url(../img/orfeas.jpg);
}

.style-text{
    width: 300px;
    margin-top: 20px;
    padding: 1px;
    margin: auto;
    word-wrap:break-word;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: cornflowerblue;  
}

.credits-container{
    margin-top: 160px;
    margin-left: 400px;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}