*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-style {
    background-image:  url(../img/background-vapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scores-text{
    text-align: center;
    position: relative;
    font-family: 'Cutive', serif;
    font-size: 130px;
    margin-top: 80px;
}

section {
    top: 15%;
    position: relative;
    width: 100%;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    width: 380px;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;
}